@model online_voting_system0910.Models.VotingItem

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯投票項目</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="VotingItemId" class="control-label"></label>
                <input asp-for="VotingItemId" class="form-control" />
                <span asp-validation-for="VotingItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label my-3">投票項目名稱</label>
                <input asp-for="VotingItemName" class="form-control my-3" />
                <span asp-validation-for="VotingItemName" class="text-danger my-3"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回後台投票清單頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
