@model IEnumerable<online_voting_system0910.Models.VotingItem>

@{
    ViewData["Title"] = "Index";
}

<h1>後台投票清單頁</h1>

<p>
    <a asp-action="Create">新增投票項目</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                投票項目編號
            </th>
            <th>
                投票項目名稱
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VotingItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotingItemName)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id=item.VotingItemId}) |
                @Html.ActionLink("刪除", "Delete","Backstage", new { id=item.VotingItemId},new{onclick="return confirm('確定要刪除嗎?')"})
            </td>
        </tr>
}
    </tbody>
</table>
