USE [master]
GO
/****** Object:  Database [voting0910]    Script Date: 2023/9/10 下午 10:36:56 ******/
CREATE DATABASE [voting0910]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'voting0910', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\voting0910.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'voting0910_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\voting0910_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [voting0910].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [voting0910]
GO
/****** Object:  Table [dbo].[VotingItem]    Script Date: 2023/9/10 下午 10:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingItem](
	[VotingItemId] [int] IDENTITY(1,1) NOT NULL,
	[VotingItemName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VotingItem] PRIMARY KEY CLUSTERED 
(
	[VotingItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VotingRecord]    Script Date: 2023/9/10 下午 10:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VotingRecord](
	[VotingRecordId] [int] IDENTITY(1,1) NOT NULL,
	[Voter] [nvarchar](50) NOT NULL,
	[VotingItemId] [int] NOT NULL,
 CONSTRAINT [PK_VotingRecord] PRIMARY KEY CLUSTERED 
(
	[VotingRecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VotingItem] ON 

INSERT [dbo].[VotingItem] ([VotingItemId], [VotingItemName]) VALUES (1, N'電腦')
INSERT [dbo].[VotingItem] ([VotingItemId], [VotingItemName]) VALUES (2, N'滑鼠')
INSERT [dbo].[VotingItem] ([VotingItemId], [VotingItemName]) VALUES (3, N'螢幕')
SET IDENTITY_INSERT [dbo].[VotingItem] OFF
GO
SET IDENTITY_INSERT [dbo].[VotingRecord] ON 

INSERT [dbo].[VotingRecord] ([VotingRecordId], [Voter], [VotingItemId]) VALUES (1, N'Leo', 1)
INSERT [dbo].[VotingRecord] ([VotingRecordId], [Voter], [VotingItemId]) VALUES (2, N'Sandy', 1)
INSERT [dbo].[VotingRecord] ([VotingRecordId], [Voter], [VotingItemId]) VALUES (3, N'Sandy', 2)
SET IDENTITY_INSERT [dbo].[VotingRecord] OFF
GO
ALTER TABLE [dbo].[VotingRecord]  WITH CHECK ADD  CONSTRAINT [FK_VotingRecord_VotingItem] FOREIGN KEY([VotingItemId])
REFERENCES [dbo].[VotingItem] ([VotingItemId])
GO
ALTER TABLE [dbo].[VotingRecord] CHECK CONSTRAINT [FK_VotingRecord_VotingItem]
GO
USE [master]
GO
